.cardsContainer {
    margin: 100px auto;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    color: black;
}

.cardsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}