
.container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;


    & h1 {
        text-align: center;
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 auto;
}

.card {
    display: flex;
    justify-content: space-between;
    width: 400px;
    border-top-right-radius: 80px 80px;
    background-color:bisque;
    border-radius: 10px;
    padding: 10px 15px;


    & button {
        width: 100px;
        margin-top: 10px;
        border: 1px solid red;
        color: red;
    }
}
