.navContainer {
  display: flex;
  list-style: none;
  text-decoration: none;
}
  
  .navMenu li {
    text-align: center;
    padding: 0px 15px 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

.home,
.cart,
.favorite {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  z-index: 1;
   margin-right: 5px;

    & svg {
      height: 50%;
      width: 50%;
    }
  }

.favoriteCount,
.cartCount {

  position: absolute;
  top: -2px;
  right: -2px;
  background-color: white;
  color: black;
  font-size: 11px;
  font-weight: 800;
  border-radius: 50%;
  padding: 2px 5px;
  height: 12px;
  width: 5px;
}
