.modalWindow {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000BB;
  z-index: 1;
}
.content {
  padding: 40px;
  background-color: whitesmoke;
  position: relative;
  z-index: 2;
  border-radius: 10px;

  & p {
    color: black;
  }
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  color: black;
  margin-top: 30px;
  

  & button {
    background-color: lightgrey;
    width: 100px;
  }
}