
.header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    // gap: 100px;
    background-color: goldenrod ;
    position: fixed;
    top: 0;
    z-index: 99;
}