.card {
    display: flex;
    justify-content: space-between;
    width: 400px;
    border-top-right-radius: 80px 80px;
    background-color:bisque;
    border-radius: 10px;
    padding: 10px 15px;

    & button {
        width: 100px;
        margin-top: 10px;
        background: red;
    }
}