.card {
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    height: 300px;
    width: 600px;
    border: 1px solid #fff;
    border-radius: 20px;
    background-color: peachpuff;
    position: relative;
    color: black;

    .imageContainer {
        position: relative;
        height: 250px;
        width: 250px;
        overflow: hidden;
        border-radius: 5px;
        background-color: white;
        margin-right: 20px;
      

        img {
            height: 100%;
            width: 250px;
            z-index: 1;
            object-fit: fill;
          
        }

        .cardIcon {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 30px;
            height: 30px;
            fill: #000;
            z-index: 2;

            &:hover {
                cursor: pointer;
                transform: scale(1.1);
                transition: 0.2s;
            }
        }
    }

    h2 {
        padding-bottom: 30px;
        align-self: flex-start;
    }

    .cardInfo {

        .cardDescriptionContainer {
            display: flex;

            .cardDescription {
                display: flex;
                flex-direction: column;
            }

            p {
                padding-bottom: 15px;
                text-align: left;
                font-size: 20px;
            }
        }
    }

    .cardArticle {
        align-self: flex-end;
        padding-right: 10px;
    }

    .cardButtonContainer {
        display: flex;
        flex-direction: column;
        height: 20px;
    }
}

.cardButton {
    margin-top: 75px;
    width: 150px;
    background-color: whitesmoke;
}


